@import url("../features/page/styles/common.css");
@import url("../features/main-navigation/components/nav-section/index.css");
@import url("../features/add-spends/components/spends-form/index.css");
@import url("../features/add-spends/components/recent-added-list/index.css");

.layout {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--color-pallete-1);
}

.layout__page-content {
    view-transition-name: content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 2em 2em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    align-items: center;
    overflow-y: scroll;
    padding: 2em 1em 1em 1em;
    height: calc(100dvh - 6em);
    z-index: 1000;
    background-color: var(--color-pallete-0);
}

.layout__page-content-wrapper {
    max-width: 350px;
    width: 100%;
}