recent-added-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.recent-added-list {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.recent-added-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 1em;
    font-size: 1em;
    padding: 1em;
    color: #333;
    background-color: var(--color-pallete-3);

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
    }
}